[Unit]
Description=Automatically starts the API server for christmas lights
After=network.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/home/pi/pilights
ExecStart=/home/pi/pilights/venv/bin/python3 /home/pi/pilights/api.py
[Install]
WantedBy=multi-user.target
